<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="admin.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="position: relative; top: 5px;">رسائل التهاني</h1>
    </header>
    <div>
  
    <div>
    <div class="div2" id="list"> 

        <div class="item">
            <div class="title">
                <h1>Name</h1>
            </div>
            <div>
                asgasg
            </div>
        </div>

    </div>
    <p class="c">برمجة محمد الرفاعي</p>
    <script src="admin.js">

    </script>
</body>
</html>