<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1 style="position: relative; top: 5px;">رسالة تهنئة</h1>
    </header>
    <div>
    <div class="div1">
       <p> ارسال رسالة تهاني لام محمد بمناسبة قدوم المولودة الجديدة </p>
    </div>
    <div>
        <div class="div2"> 
            <input class="name" placeholder="الاسم" id="name"><br>
            <textarea class="msg" dir="rtl" id="msg">
        اكتب هنا
            </textarea><br>
            <button class="send" id="send">ارسال لام محمد</button>
        </div>
    </div>
    </div>
    <p class="c">برمجة محمد الرفاعي</p>
    <script src="app.js">

    </script>
</body>
</html>
